<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
</head>
<body>
<form th:method="DELETE" th:action="@{/users/{id}(id = ${user.id})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="name">Enter name: </label>
    <input type="text" disabled="true" th:field="*{name}" id="name"/>
    <br/>
    <label for="password">Enter age: </label>
    <input type="number" disabled="true" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" disabled="true" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" th:value="Delete"/>
</form>
</body>
</html>